
body * {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#app {
    font-family: AppleGothic;
}

#app-view {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

#sidebar {
    padding: 70px;
}

#sidebar > * {
    font-size: 26px;
    margin: 10px 0;
    background: rgb(233, 233, 233);
    padding: 3px 13px;
}

#sidebar .count {
    font-size: 40px;
    margin-right: 20px;
}

#list {
    padding-top: 70px;
}

.todo-item {
    width: 600px;
    display: flex;
    margin: 10px 0;
    box-shadow: 0 0 2px;
}

.todo-item .dragging {
    width: 120px;
    background-color: rgb(228, 228, 255);
    cursor: move;
}

.todo-text {
    flex: 1;
    box-sizing: content-box;
    line-height: 1em;
    font-size: 22px;
    padding: 8px 20px;
    outline: none;
    border: none;
    margin: 0;
}
