
body * {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#app {
    font-family: "Helvetica Neue";
    background-image: url('http://jiyinyiyong.u.qiniudn.com/tulip.jpg');
    background-image: url('../png/tulip.jpg');
    background-size: cover;
    font-weight: 100;
    letter-spacing: 1px;
}

#app-view {
    position: absolute;
    width: 80%;
    height: 100%;
    display: flex;
    right: 0;
    padding-top: 60px;
}

#placeholder {
    color: white;
    font-size: 50px;
    font-family: "Helvetica Neue";
    font-weight: 100;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.38);
}

#sidebar {
    padding-right: 150px;
    padding-left: 50px;
}

#sidebar > .dest {
    font-size: 23px;
    margin-bottom: 25px;
    background: rgba(161, 240, 205, 0.42);
    padding: 3px 13px;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.41);
    color: white;
}

#sidebar > .highlight {
    background: rgba(204, 82, 35, 0.28);
}

#sidebar > .dest > * {
    pointer-events: none;
}

#sidebar > .dest:active {
    box-shadow: 1px 1px 4px black;
}

#sidebar > .drag-to {
    -webkit-transform: scale(1.2);
}

#sidebar .count {
    font-size: 40px;
    margin-right: 13px;
}

#list {
    flex: 1;
}

.todo-item {
    display: flex;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

.todo-item .drag {
    width: 120px;
    background-color: rgba(255, 255, 255, 0);
    cursor: move;
}

.todo-item .drag.dragging {
    background-color: rgba(0, 0, 0, 0.12);
}

.todo-text {
    flex: 1;
    box-sizing: content-box;
    line-height: 1em;
    font-size: 22px;
    padding: 8px 20px;
    outline: none;
    border: none;
    margin: 0;
    background-color: rgba(31, 31, 31, 0.23);
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.73);
    font-family: Applegothic, "Hiragino Sans GB";
    letter-spacing: 1px;
}
