
#list {
    position: relative;
    flex: 1;
}

.todo-item {
    margin-bottom: 10px;
    transition-duration: 300ms;
    font-size: 18px;
    outline: none;
    background-color: transparent;
    color: white;
    padding: 4px 24px;
    position: absolute;
    width: 100%;
    line-height: 2em;
    border: none;
}

.todo-item.dragging {
}

