
#list {
    position: relative;
    flex: 1;
}

.todo-item {
    transition-duration: 300ms;
    background-color: rgba(184, 83, 83, 0.17);
    position: absolute;
    width: 100%;
    cursor: move;
}

.todo-item input {
    background: transparent;
    line-height: 2em;
    border: none;
    padding: 4px;
    color: white;
    font-size: 18px;
    outline: none;
    width: 100%;
    margin: 0 30px;
}

.todo-item.dragging {
}

