
@import url('sidebar.css');
@import url('list.css');

body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-size: cover;
    -webkit-user-select: none;
    background-attachment: fixed;
    background-image: url('http://jiyinyiyong.u.qiniudn.com/tulip.jpg');
}

body, input {
    font-family: "Helvetica Neue";
    font-weight: 100;
    letter-spacing: 1px;
}

#app-view {
    flex-direction: row;
    display: flex;
    width: 1200px;
    margin: 40px auto;
}

#placeholder {
    color: rgb(157, 180, 151);
    font-size: 30px;
    font-family: "Helvetica Neue";
    font-weight: 100;
    letter-spacing: 1px;
}
